@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    border: 1px solid var(--secondary-border-color); 
    border-top: 1px solid rgba(255, 255, 255, 0.1); 
    border-radius: 50%;
    width: 20px; 
    height: 20px; 
    animation: spin 2s linear infinite; 
}
