@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-bg-color: rgb(133, 175, 147);
  --secondary-bg-color: rgba(164, 181, 170, 0.6); 
  --chart-bg-color: rgba(109, 133, 127, 0.2);

  --primary-text-color: rgba(20, 20, 20, 1);
  --secondary-text-color: rgba(45, 133, 108, 1);

  --primary-border-color: rgba(0, 0, 0, 0.1);
  --secondary-border-color: rgba(20, 20, 20, 1);

  --error-color: rgba(165, 49, 49, 1);

  --green-main: #20322E;
}

[data-theme="dark"] {
  --primary-bg-color: rgba(20, 20, 20, 1);
  --secondary-bg-color: rgba(27, 38, 36, 0.6);
  --chart-bg-color: rgba(109, 133, 127, 0.2);

  --primary-text-color: rgba(255, 255, 255);
  --secondary-text-color: rgba(255, 255, 255, 0.1);

  --primary-border-color: rgba(255, 255, 255, 0.1);
  --secondary-border-color: rgba(255, 255, 255);

  --error-color: rgba(165, 49, 49, 1);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
  font-weight: 300;
}

button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}