.background {
    width: 100%;
    height: 100%;
    background-color: var(--primary-bg-color);
    transition: background-color 0.5s ease;
    z-index: -1000;
}

.circle {
    width: 50vw;
    height: 50vh;
    top: 120px;
    left: -20%;
    filter: blur(100px);
}

.circle::before {
    content: '';
    width: 60vw;
    height: 60vh;
    right: -200%;
}

.background,
.circle::before {
    top: 0;
}

.background,
.circle,
.circle::before {
    position: fixed;
}

.circle,
.circle::before {
    background: var(--green-main);
    border-radius: 50%;
}
